{% extends 'francedata/base.html' %}

{% block head_title %}{% if parlementaire %}{{ parlementaire }}: {% endif %}Liste des votes
    {% if parlementaire.chambre == 'AN' %}à l'Assemblée Nationale{% else %}au Sénat{% endif %}{% endblock %}

{% block body %}
<div class="row">
    <h1>{% if parlementaire %}{{ parlementaire }}: {% endif %}Liste des votes
        {% if parlementaire.chambre == 'AN' %}à l'Assemblée Nationale{% else %}au Sénat{% endif %}</h1>

    <table>
    {% for vote in object_list %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>
                <a href="{{ vote.scrutin.dossier.url }}">{{ vote.scrutin.dossier }}</a>
            </td>
            <td>
                <a href="{{ vote.scrutin.url }}">{{ vote.scrutin.objet }}</a>
            </td>
            <td>{{ vote.get_division_display }}</td>
            <td>{{ vote.scrutin.date }}</td>
        </tr>
    {% endfor %}
    </table>

    {% include "_pagination.html" %}
</div>
{% endblock %}
