{% extends 'francedata/base.html' %}

{% block head_title %}{% if depute %}{{ depute }}: {% endif %}Liste des votes à l'Assemblée Nationale{% endblock %}

{% block body %}
<div class="row">
    <h1>{% if depute %}{{ depute }}: {% endif %}Liste des votes à l'Assemblée Nationale</h1>

    <table>
    {% for vote in object_list %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>
                <a href="{{ vote.scrutin.dossier.url }}">{{ vote.scrutin.dossier }}</a>
            </td>
            <td>
                <a href="{{ vote.scrutin.url }}">{{ vote.scrutin.objet }}</a>
            </td>
            <td>{{ vote.get_division_display }}</td>
            <td>{{ vote.scrutin.date }}</td>
        </tr>
    {% endfor %}
    </table>

    {% include "_pagination.html" %}
</div>
{% endblock %}
